
<div class="page-content">
  <div class="title" [innerHTML]="'contacts.title' | translate"></div>

  
  <div class="content">
    <div class="phone-block">
      <a href="{{ callPhoneNumber }}" class="contact-item link">
        <i class="fas fa-phone fa-border contact-icon" aria-hidden="true"></i>
      </a>
      <a href="{{ whatsappSendMessage }}" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp contact-icon" aria-hidden="true"></i>
      </a>
      <a href="{{ telegramLink }}" target="_blank" class="contact-item">
        <i class="fab fa-telegram contact-icon" aria-hidden="true"></i>
      </a>
      <a href="{{ callPhoneNumber }}" class="contact-item link">{{ phoneNumber }}</a>
      <br>
    </div>
    <div class="email-block">
      <a href="{{ sendEmail }}" target="_blank" class="contact-item link">
        <i class="fas fa-envelope fa-border contact-icon" aria-hidden="true"></i>
      </a>
      
      <a href="{{ sendEmail }}" target="_blank" class="contact-item link">
        {{ email }}
      </a>
      <br>
    </div>
    <div class="location-block">
      <div class="icon-address">
        <i class="fas fa-map-marker-alt fa-border contact-icon" aria-hidden="true"></i>
        <div class="address contact-item">
          <span>{{ addressPlaceName }}</span>
          <br>
          <span>{{ addressStreetAndNumber }}</span>
          <br>
          <span>{{ addressPostalCode }} {{ addressCity }}</span>
        </div>
      </div>
      <iframe class="map" src="{{ googleMapsLink }}" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>