.contact-icon:not(:first-of-type) {
  margin-left: 5px;
}

.contact-item {
  word-break: break-all;
}

.contact-item:not(:first-of-type) {
  margin-left: 10px;
}

.phone-block, .whatsapp-group-block .email-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  text-decoration-line: underline;
}

.whatsapp-group-block, .email-block, .location-block {
  margin-top: 2rem;
}

.location-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.icon-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.address {
  margin-left: 10px;
}

.map {
  width: calc(8/12*100vw);
  height: calc(8/12*60vw);
}

@media (max-width: 767px) {
  .map {
    width: 90vw;
    height: 50vw;
  }
}
