
<div class="page-content">
  <div class="title">
    <span>Contacts</span>
  </div>

  
  <div class="content">
    <div class="phone-block">
      <a href="tel:+358-0-40-8542468" class="contact-item link">
        <i class="fas fa-phone fa-border contact-icon" aria-hidden="true"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=358408542468" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp contact-icon" aria-hidden="true"></i>
      </a>
      <a href="https://t.me/fjdrodrigues" target="_blank" class="contact-item">
        <i class="fab fa-telegram contact-icon" aria-hidden="true"></i>
      </a>
      <a href="tel:+358-0-40-8542468" class="contact-item link">+358 (0) 40 8542468</a>
      <br>
    </div>
    <div class="email-block">
      <a href="mailto:info@raumasocialdancing.fi" target="_blank" class="contact-item link">
        <i class="fas fa-envelope fa-border contact-icon" aria-hidden="true"></i>
      </a>
      
      <a href="mailto:info@raumasocialdancing.fi" target="_blank" class="contact-item link">
        info@raumasocialdancing.fi
      </a>
      <br>
    </div>
    <div class="location-block">
      <div class="icon-address">
        <i class="fas fa-map-marker-alt fa-border contact-icon" aria-hidden="true"></i>
        <div class="address contact-item">
          <span>Naturelli</span>
          <br>
          <span>Syväraumankatu 14</span>
          <br>
          <span>Rauma</span>
        </div>
      </div>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1926.0421124124823!2d21.487034716335504!3d61.1355364719437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46897e147a67f35b%3A0x77263e499466f482!2sHoito.Naturelli!5e0!3m2!1sen!2sfi!4v1622761230653!5m2!1sen!2sfi"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>