<div class="page-content">
  <div class="title">
    <span>About Us</span>
  </div>
  <div class="content">
    <div class="content-text">
      <span>It was in October 2020 that Fábio and Pauli - a freshly arrived dance enthusiast and a local cuban salsa
        promoter - decided to join forces to develop the social dance scene in Rauma, by introducing a regular 
        event for new people to join salsa and for existing dancers to continue practicing.</span>
      <br>
      <span>Réda - an experienced cuban salsa dancer - joined the team as an invited teacher in March 2021, 
        bringing knowledge and experience to the team.
      </span>
      <br>
      <br>
      <span>Our goal is to share our passion for afro-latin dances and music, by organising events and teaching 
        low-cost dance classes.</span>
    </div>
  </div>
  <div class="title">
    <span>Team</span>
  </div>
  <div class="content">
    <div class="team">
      <div class="teacher-odd">
        <img class="teacher-pic" src="https://i.ibb.co/cNGjJ8V/fabio1-216x300.jpg">
        <div class="teacher-bio">
          <span class="teacher-name">Fábio Rodrigues
            <img class="flag" src="https://gist.githubusercontent.com/fjdrodrigues/a459b2bb3f324cd58dba394997193ab8/raw/1b81acb309d128ebcfe694120c7757a58c4ce5fb/portugal-flag.svg">
          </span>
          <span class="teacher-styles"><b>Styles:</b> Kizomba, Semba, Cuban Salsa, Bachata</span>
          <div class="teacher-description" (scroll)="onScroll($event)">
            <span>Original from Portugal, Fábio joined social dancing in 2016, when he 
              started to learn Cuban Salsa with Ramon Yudimir Noa Caraballo in Zagreb, Croatia. Since then, he has been 
              learning with many influent teachers in festivals around Europe. Main inspiration comes from
              <a href="https://www.facebook.com/OsbanisAnneta" target="_blank">Osbanis & Anneta - 
              Deakocan</a>
              - and from
              <a href="https://www.facebook.com/olivqa88" target="_blank">Oliwia Szewczak-Rylska</a>
               - a very talented teacher based in Warsaw.</span>
            <br>
            <br>
            <span>Though he has been dancing Kizomba since 2010, he didn't attend classes until 2017, when he decided to 
              further develop his skills. He has been learning from the biggest names in the Kizomba scene, and in 2019 
              completed his first Kizomba and Semba Teacher Training, organised by The Fantastic 4 - Paulo & Lanna and 
              Miguel & Susana.</span>
            <br>
            <span>He tought Kizomba and Semba in Poland and in Germany, before coming to Finland</span>
            <br>
            <br>
            <span>Bachata came along while in Zagreb, in 2017, and he has learned Bachata from some of the top 
              teachers in the world. Though he trained Bachata Sensual as well, his real passion is for Dominican Bachata.
            </span>
          </div>
        </div>
      </div>
      <div class="teacher-even">
        <img class="teacher-pic" src="https://i.ibb.co/2tM5t5w/Pauli1-234x300.jpg">
        <div class="teacher-bio">
          <span class="teacher-name">Pauli Laaksonen
            <img class="flag" src="https://gist.githubusercontent.com/fjdrodrigues/754d755130677f32b42db37c142a4088/raw/034725ad3f618e6015ddac96181b9e55bb39fb6f/finland-flag.svg">
          </span>
          <span class="teacher-styles"><b>Styles:</b> Cuban Salsa, Rumba, Son</span>
          <div class="teacher-description" (scroll)="onScroll($event)">
            <span>"Hi, I’m Pauli, local Salsa addict who has been trying to maintain Salsa dancing and culture alive
              in the Rauma region over ten years.</span>
            <br>
            <span>I was dragged to Salsa lessons early 2000’s and after a slow start, it has became a great part of my
              life.</span>
            <br>
            <span>My heart lies in the Cuban Salsa and I try to endorse the original heritage of Cuban culture, music
              and dance. Fast Timba, Rumba, Reggaeton and Son are my favourites. The energy of the music is unbelievably
              strong.</span>
            <br>
            <span>I Attended many Salsa festivals and concerts in Finland and visited Cuba a few times, focusing on dance
              lessons with the best teachers in the island.</span>
            <br>
            <span>I’m not a professional teacher, but I try to pass my knowledge to newcomers and I’m happy to help
              you improve your basics. Style and looks are important to me, as well as music interpretation.</span>
            <br>
            <span>I’m also hosting
              <a href="https://www.facebook.com/raumasalsaevents" target="_blank">Rauma Salsa Events</a>
              Facebook page, which is used for promoting all latin music/dance activities in the Rauma area.</span>
            <br>
            <span>We have organized Salsa Open Air social dancing evenings at the seaside during the summertime
              since 2017."</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>