<div class="page-content">
  <div class="title">{{ 'about.title' | translate }}</div>
  <div class="content">
    <div class="content-text" [innerHTML]="'about.intro' | translate"></div>
  </div>
  <div class="title" [innerHTML]="'about.teamHeader' | translate"></div>
  <div class="content">
    <div class="team">
      <div class="teacher-odd">
        <img class="teacher-pic" src="{{ fabioPicture }}">
        <div class="teacher-bio">
          <span class="teacher-name">{{ 'about.team.element1.name' | translate }}
            <img class="flag" src="{{ portugueseFlag }}">
          </span>
          <span class="teacher-styles"><b>{{ 'about.team.element1.stylesHeader' | translate }}</b> {{ 'about.team.element1.styles' | translate }}</span>
          <div class="teacher-description" (scroll)="onScroll($event)" [innerHTML]="'about.team.element1.info' | translate"></div>
        </div>
      </div>
      <!--
      <div class="teacher-even">
        <img class="teacher-pic" src="https://i.ibb.co/2tM5t5w/Pauli1-234x300.jpg">
        <div class="teacher-bio">
          <span class="teacher-name">Pauli Laaksonen
            <img class="flag" src="https://gist.githubusercontent.com/fjdrodrigues/754d755130677f32b42db37c142a4088/raw/034725ad3f618e6015ddac96181b9e55bb39fb6f/finland-flag.svg">
          </span>
          <span class="teacher-styles"><b>Styles:</b> Cuban Salsa, Rumba, Son</span>
          <div class="teacher-description" (scroll)="onScroll($event)">
            <span>"Hi, I’m Pauli, local Salsa addict who has been trying to maintain Salsa dancing and culture alive
              in the Rauma region over ten years.</span>
            <br>
            <span>I was dragged to Salsa lessons early 2000’s and after a slow start, it has became a great part of my
              life.</span>
            <br>
            <span>My heart lies in the Cuban Salsa and I try to endorse the original heritage of Cuban culture, music
              and dance. Fast Timba, Rumba, Reggaeton and Son are my favourites. The energy of the music is unbelievably
              strong.</span>
            <br>
            <span>I Attended many Salsa festivals and concerts in Finland and visited Cuba a few times, focusing on dance
              lessons with the best teachers in the island.</span>
            <br>
            <span>I’m not a professional teacher, but I try to pass my knowledge to newcomers and I’m happy to help
              you improve your basics. Style and looks are important to me, as well as music interpretation.</span>
            <br>
            <span>I’m also hosting
              <a href="https://www.facebook.com/raumasalsaevents" target="_blank">Rauma Salsa Events</a>
              Facebook page, which is used for promoting all latin music/dance activities in the Rauma area.</span>
            <br>
            <span>We have organized Salsa Open Air social dancing evenings at the seaside during the summertime
              since 2017."</span>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>