.note {
  margin-top: calc(var(--logo-size) + 1.5rem);
  padding: 1px;
  border: var(--contrast-colour);
  border-style: dotted;
  position: fixed;
  width: 15vw;
  margin-left: calc((16.66% - var(--logo-size))/2);
}