.note {
  margin-top: calc(var(--logo-size) + 1.5rem);
  padding: 1px;
  border: var(--contrast-colour);
  border-style: dotted;
  position: fixed;
  width: 15vw;
  margin-left: calc((1.66%)/2);
}

@media (max-height: 290px) {
  .note {
    margin-top: 2rem;
  }
}
