<div class="page-content">
  <div class="title" [innerHTML]="'danceStyles.kizomba' | translate"> </div>
  <div class="content">
    <div class="intro" [innerHTML]="'dances.kizomba.intro' | translate"></div>
    <div class="gallery-title" [innerHTML]="'dances.kizomba.galleries.kizomba' | translate"></div>
    <adk-gallery [items]="kizombaVideos" index="0"></adk-gallery>
    <div class="gallery-title" [innerHTML]="'dances.kizomba.galleries.semba' | translate"></div>
    <adk-gallery [items]="sembaVideos" index="1"></adk-gallery>
    <div class="gallery-title" [innerHTML]="'dances.kizomba.galleries.tarraxinha' | translate"></div>
    <adk-gallery [items]="tarraxinhaVideos" index="2"></adk-gallery>
  </div>
</div>
