<div class="page-content">
  <div class="title">
    <span>Kizomba</span>
  </div>
  <div class="content">
    <div class="intro">
      <span><b>Kizomba</b> is a word in Kimbundu, an Angolan language, which means "Party". Though the word was
        first attributed to a music style, coined from the influence of Caribbean Zouk music in Angolan
        <b>Semba</b> music, the adaptation of Semba dance to this new music style gave origin to Kizomba
        as a dance.<br>
        Though the origin of the name is undisputed, both the music and the dance have in reality different
        origins, inside the PALOP (Portuguese-speaking African countries). The dance had been known simply
        as "Passada", which means "step" or a pattern of steps. The music in PALOP countries other than Angola
        was equally influenced by Zouk, giving origin to an umbrella of music, today labeled Kizomba.<br>
        The Kizomba dance is characterised by a strong connection to the ground, close connection between
        partners and using smooth body movement to express the music.<br>
        <b>Tarraxinha</b>, Portuguese word which refers us to "a screw in a bolt", is a dance which is danced in
        the same place, through smooth hip movements, which are in contact with the partner. Originally, this
        dance was practiced between romantic couples. However, today it became a social form of dance and is often
        used in beatless parts of the music.<br>
        The expansion of Kizomba, Semba and Tarraxinha to the Western civilisation, in particular France, where
        Zouk was already popular, brought influences from electronic music and different dance styles, which led
        to the creation of a different dance style, today labeled as Urban Kiz.
      </span>
    </div>
    <div class="gallery-title">
      <h5>Kizomba</h5>
    </div>
    <adk-gallery [items]="kizombaVideos" index="0"></adk-gallery>
    <div class="gallery-title">
      <h5>Semba</h5>
    </div>
    <adk-gallery [items]="sembaVideos" index="1"></adk-gallery>
    <div class="gallery-title">
      <h5>Tarraxinha</h5>
    </div>
    <adk-gallery [items]="tarraxinhaVideos" index="2"></adk-gallery>
  </div>
</div>
