<div class="column mobile-header">
    <div *adkHasAnyRole="'admin'" class="row">
      <adk-admin-selector></adk-admin-selector>
    </div>
    <div class="whatsapp-group-block">
      <a href="{ whatsappGroup }}" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp contact-icon" aria-hidden="true"></i>
      </a>
      <a href="{ whatsappGroup }}" target="_blank" class="contact-item">
        <span class="contact-item">Join our Whatsapp Group!</span>
      </a>
    </div>
    <div class="note" [innerHTML]="'note.mobileCurrent' | translate"></div>
    <adk-events-comingup></adk-events-comingup>
</div>
