<div class="mobile-header">
  <div class="column">
    <div *adkHasAnyRole="'admin'" class="row">
      <adk-admin-selector></adk-admin-selector>
    </div>
    <div class="whatsapp-group-block">
      <a href="https://chat.whatsapp.com/JKGNm4sN3Au6yCPJG4KmWe" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp contact-icon" aria-hidden="true"></i>
      </a>
      <a href="https://chat.whatsapp.com/JKGNm4sN3Au6yCPJG4KmWe" target="_blank" class="contact-item">
        <span class="contact-item">Join our Whatsapp Group!</span>
      </a>
    </div>
    <div class="note" [innerHTML]="'note.current' | translate"></div>
    <adk-events-comingup></adk-events-comingup>
  </div>
</div>
