<div class="page-content">
  <div class="title">
    <span>Cuban Salsa</span>
  </div>
  <div class="content">
    <div class="intro">
      <span>Cuban Salsa, also known as "Casino", is a dance form which originated in Cuba in the second half
        of the 20th century. It has its roots in the Cuban Son, with influences of Cuban Mambo, Cha Cha Cha,
        Danzón, Afro-Cuban Rumba and Afro-Cuban Folklore. <br>
        Contrasting with the North-American Salsa styles (L.A. and N.Y.), which are known as "Line Salsa" and
        danced in a linear fashion, Cuban Salsa is danced in a circular fashion, with complex patterns of arms
        and body movement. Body and muscle isolations are highly emphasised, with men and women playing strong
        masculine and feminine roles.
      </span>
    </div>
    <adk-gallery [items]="cubanSalsaVideos" index="0"></adk-gallery>
  </div>
</div>
