<div class="page-content">
  <div class="title" [innerHTML]="'danceStyles.bachata' | translate"></div>
  <div class="content">
    <div class="intro" [innerHTML]="'dances.bachata.intro' | translate"></div>
    <div class="gallery-title" [innerHTML]="'dances.bachata.galleries.dominicanBachata' | translate"></div>
    <adk-gallery [items]="dominicanBachataVideos" index="0"></adk-gallery>
    <div class="gallery-title" [innerHTML]="'dances.bachata.galleries.modernBachata' | translate"></div>
    <adk-gallery [items]="modernBachataVideos" index="1"></adk-gallery>
    <div class="gallery-title" [innerHTML]="'dances.bachata.galleries.sensualBachata' | translate"></div>
    <adk-gallery [items]="sensualBachataVideos" index="2"></adk-gallery>
  </div>
</div>
