.main-row {
  position: relative;
  padding: 5.5rem 0 3.5rem 0;
  width: 100%;
  min-height: calc(100vh - 9rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 899px) and (min-height: 450px) {
  .main-row {
    padding: 5rem 0 3.5rem 0;
    min-height: calc(100vh - 8.5rem);
  }
}
@media (min-width: 677px) and (max-width: 767px), (min-height: 400px) and (max-height: 449px) {
  .main-row {
    padding: 4rem 0 3.5rem 0;
    min-height: calc(100vh - 7.5rem);
  }
}
@media (min-width: 360px) and (max-width: 676px), (min-height: 380px) and (max-height: 399px) {
  .main-row {
    padding: 4rem 0 3.5rem 0;
    min-height: calc(100vh);
  }
}
@media (min-width: 273px) and (max-width: 359px),  (max-height: 379px) {
  .main-row {
    padding: 3rem 0 3.5rem 0;
    min-height: calc(100vh);
  }
}
@media (min-width: 0px) and (max-width: 272px)  {
  .main-row {
    padding: 3rem 0 3.5rem 0;
    min-height: calc(100vh);
  }
}
