<div class="page-content">
  <div class="title" [innerHTML]="'dances.others.title' | translate"></div>
  <div class="content">
    <div class="content-header" [innerHTML]="'dances.others.intro' | translate"></div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.merengue' | translate }}
        <img class="flag" src="{{ dominicanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="0"
          videoSource="LRIpkHuCagw">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.son' | translate }}
        <img class="flag" src="{{ cubanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="1"
          videoSource="ooxY2wIBhq4">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.rumba' | translate }}
        <img class="flag" src="{{ cubanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="2"
          videoSource="JaNfdh0iWCg">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.orishas' | translate }}
        <img class="flag" src="{{ cubanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="3"
          videoSource="-M4f5X0zdCk"
          start="80"
          end="314">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.afrokuduro' | translate }}
        <img class="flag" src="{{ angolanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="4"
          videoSource="C1TgsOLaEXg">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.funana' | translate }}
        <img class="flag" src="{{ capeverdeanFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="5"
          videoSource="4ZT57ujIHLA">
        </adk-video>
      </div>
    </div>
    <div class="dance-style-block">
      <div class="dance-style-name">
        {{ 'dances.others.kompa' | translate }}
        <img class="flag" src="{{ haitianFlag }}">
      </div>
      <div class="dance-style-video">
        <adk-video
          videoIndex="6"
          videoSource="qradt535Svc">
        </adk-video>
      </div>
    </div>
  </div>
</div>