.info:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.info:not(:first-of-type) {
  margin-top: 0.5rem;
}
.class-schedule {
  margin: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.all-level-classes {
  background-color: #f8f1f1;
}
.beginner-classes {
  background-color: #f3e795;
}
.intermediate-classes {
  background-color: #f13c20;
}
.asterisk {
  margin-top: 5px;
  text-align: justify;
  color: #31343f;
}
.class-schedule .adk-table-container {
  margin: 5px;
}
.class-levels {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.level-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 5px 1px 5px;
}
.class-level-box {
  width: 2.2rem;
  height: 1.5rem;
  margin-right: 3px;
  box-shadow: inset 0px 0px 2px 0px #4056a1;
}
.prices .adk-col-2 {
  justify-content: center;
}
@media (max-width: 300px) {
  .class-schedule .adk-table-container .adk-table-content {
    grid-template-columns: 110px 100px !important;
  }
  .prices .adk-table-container .adk-table-content {
    grid-template-columns: 170px auto;
  }
}
@media (max-width: 550px) {
  .class-schedule .adk-table-container .adk-table-content {
    grid-template-columns: 110px auto;
  }
  .prices .adk-table-container .adk-table-content {
    grid-template-columns: 170px auto;
  }
}
