
<div class="page-content">
  <div class="title" [innerHTML]="'classes.schedule.title' | translate"></div>
  <div class="content">
    <div class="info" [innerHTML]="'classes.schedule.partnerNote' | translate"></div>
    <div class="class-schedule">
      <div class="adk-table-container all-level-classes">
        <div class="adk-table-top-header" [innerHTML]="'classes.schedule.daysOfTheWeek.saturday' | translate"></div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1">
            <span>13:00-14:00</span>
          </div>
          <div class="adk-table-item adk-col-2" [innerHTML]="'danceStyles.cubanSalsa' | translate"></div>
          <div class="adk-table-item adk-col-1">
            <span>14:00-15:00</span>
          </div>
          <div class="adk-table-item adk-col-2" [innerHTML]="'danceStyles.bachata' | translate"></div>
          <div class="adk-table-item adk-col-1">
            <span>15:00-16:00</span>
          </div>
          <div class="adk-table-item adk-col-2" [innerHTML]="'danceStyles.kizomba' | translate"></div>
        </div>
      </div>
    </div>
    <div class="class-levels">
      <div class="level-indicator">
        <div class="class-level-box all-level-classes" ></div>
        <div [innerHTML]="'classes.schedule.levels.allLevels' | translate"></div>
      </div>
      <!--
      <div class="level-indicator">
        <div class="class-level-box beginner-classes"></div>
        <div>Beginners & Improvers</div>
      </div>
      <div class="level-indicator">
        <div class="class-level-box intermediate-classes"></div>
        <div>Intermediate</div>
      </div>
      -->
    </div>
  </div>

  <div class="title" [innerHTML]="'classes.prices.title' | translate"></div>
  <div class="content">
    <div class="prices">
      <div class="adk-table-container">
        <!--
        <div class="adk-table-top-header">Monthly</div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1">
            <span>Monday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>30€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Tuesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>40€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Wednesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>30€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Kizomba+Wednesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>40€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>2 Classes per Week</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>35€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>3 Classes per Week</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>45€</span>
          </div>
          <div class="adk-table-item adk-col-1 highlighted-cell" style="margin-bottom: 8px;">
            <span>Full Pass</span>
          </div>
          <div class="adk-table-item adk-col-2 highlighted-cell" style="margin-bottom: 8px;">
            <span>55€</span>
          </div>
        -->
        <div class="adk-table-top-header" [innerHTML]="'classes.prices.perDay.title' | translate"></div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1" [innerHTML]="'classes.prices.perDay.3classes' | translate"></div>
          <div class="adk-table-item adk-col-2">
            <span>15€</span>
          </div>
          <div class="adk-table-item adk-col-1"  [innerHTML]="'classes.prices.perDay.2classes' | translate"></div>
          <div class="adk-table-item adk-col-2">
            <span>12€</span>
          </div>
          <div class="adk-table-item adk-col-1" [innerHTML]="'classes.prices.perDay.1class' | translate"></div>
          <div class="adk-table-item adk-col-2">
            <span>7€</span>
          </div>
          <!--
          <div class="adk-table-middle-header">Packs</div>
          <div class="adk-table-item adk-col-1">
            <span>10 Classes</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>50€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>20 Classes</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>90€</span>
          </div>
          <div class="adk-table-middle-header">Socials</div>
          <div class="adk-table-item adk-col-1">
            <span>Single Entry</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>5€</span>
          </div>
          -->
        </div>
      </div>
    </div>
    <div class="info" [innerHTML]="'classes.prices.paymentTypes' | translate"></div>
  </div>
</div>