
<div class="page-content">
  <div class="title">
    <span>Weekly Schedule</span>
  </div>
  <div class="content">
    <div class="info">
      <span>It is <b>not</b> necessary to bring a partner.</span>
    </div>
    <div class="class-schedule">
      <div class="adk-table-container all-level-classes">
        <div class="adk-table-top-header">Monday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>19:00-21:00</span>
          </div>
          <div class="adk-table-item">
            <span>Kizomba & Semba</span>
          </div>
        </div>
      </div>
      <div class="adk-table-container">
        <div class="adk-table-top-header">Friday (Every 2nd Week)</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>19:00-22:00</span>
          </div>
          <div class="adk-table-item">
            <span>Social Dancing</span>
          </div>
        </div>
      </div>
      <div class="adk-table-container all-level-classes">
        <div class="adk-table-top-header">Sunday</div>
        <div class="adk-table-content">
          <div class="adk-table-item">
            <span>18:00-19:30</span>
          </div>
          <div class="adk-table-item">
            <span>Cuban Salsa</span>
          </div>
          <div class="adk-table-item">
            <span>19:30-21:00</span>
          </div>
          <div class="adk-table-item">
            <span>Bachata</span>
          </div>
        </div>
      </div>
    <div class="class-levels">
      <div class="level-indicator">
        <div class="class-level-box all-level-classes"></div>
        <div>All Levels</div>
      </div>
      <div class="level-indicator">
        <div class="class-level-box beginner-classes"></div>
        <div>Beginners & Improvers</div>
      </div>
      <div class="level-indicator">
        <div class="class-level-box intermediate-classes"></div>
        <div>Intermediate</div>
      </div>
    </div>
  </div>

  <div class="title">
    <span>Prices</span>
  </div>
  <div class="content">
    <div class="prices">
      <div class="adk-table-container">
        <!--
        <div class="adk-table-top-header">Monthly</div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1">
            <span>Monday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>30€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Tuesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>40€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Wednesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>30€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>Kizomba+Wednesday Pass</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>40€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>2 Classes per Week</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>35€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>3 Classes per Week</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>45€</span>
          </div>
          <div class="adk-table-item adk-col-1 highlighted-cell" style="margin-bottom: 8px;">
            <span>Full Pass</span>
          </div>
          <div class="adk-table-item adk-col-2 highlighted-cell" style="margin-bottom: 8px;">
            <span>55€</span>
          </div>
        -->
        <div class="adk-table-top-header">Individual Classes</div>
        <div class="adk-table-content">
          <div class="adk-table-item adk-col-1 highlighted-cell" style="margin-top: 8px;">
            <span>First Class</span>
          </div>
          <div class="adk-table-item adk-col-2 highlighted-cell" style="margin-top: 8px;">
            <span>FREE</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>1 Class (Any Day)</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>10€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>2 Classes (Same Day)</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>15€</span>
          </div>
          <!--
          <div class="adk-table-middle-header">Packs</div>
          <div class="adk-table-item adk-col-1">
            <span>10 Classes</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>50€</span>
          </div>
          <div class="adk-table-item adk-col-1">
            <span>20 Classes</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>90€</span>
          </div>
          -->
          <div class="adk-table-middle-header">Socials</div>
          <div class="adk-table-item adk-col-1">
            <span>Single Entry</span>
          </div>
          <div class="adk-table-item adk-col-2">
            <span>5€</span>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <span>Payments can be done via Cash, Bank Transfer and Mobile Pay.</span>
    </div>
  </div>
</div>