footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 3.5rem; /* Footer height */
  border-top-style: solid;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  text-align: center;
}