<nav id="adk-navbar" class="navbar navbar-expand-sm fixed-top adk-navbar">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" (click)="isCollapsed = true">
    
    <img class="logo"
      src="{{ navbarLogo }}">
  </a>
  <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapsed()">
    <div class="navbar-dark">
      <i class="fas fa-bars adk-navbar-toggler-icon"></i>
    </div>
  </button>

  <div class="navbar-collapse collapse text-right" id="navbarToggleExternalContent" [ngbCollapse]="isCollapsed">
    <ul class="nav navbar-nav ml-auto my-0">
      <!-- About -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeCollapsed()">{{ 'navbar.items.about' | translate }}</a>
      </li>
      <!-- Dance Styles -->
      <li class="nav-item">
        <div ngbDropdown #danceDrop="ngbDropdown">
          <a class="nav-link" id="danceDropdown" ngbDropdownToggle>{{ 'navbar.items.danceStylesHeader' | translate }}</a>
          <div class="dropdown-menu" aria-labelledby="danceDropdown" ngbDropdownMenu #danceMenu>
            <a class="dropdown-item" routerLink="/dance/cubansalsa" routerLinkActive="active" ngbDropdownItem 
              (click)="closeDropdown(danceMenu);closeCollapsed()">{{ 'danceStyles.cubanSalsa' | translate }}</a>
            <a class="dropdown-item" routerLink="/dance/bachata" routerLinkActive="active" ngbDropdownItem 
              (click)="closeDropdown(danceMenu);closeCollapsed()">{{ 'danceStyles.bachata' | translate }}</a>
            <a class="dropdown-item" routerLink="/dance/kizomba" routerLinkActive="active" ngbDropdownItem 
              (click)="closeDropdown(danceMenu);closeCollapsed()">{{ 'danceStyles.kizomba' | translate }}</a>
            <a class="dropdown-item" routerLink="/dance/others" routerLinkActive="active" ngbDropdownItem 
              (click)="closeDropdown(danceMenu);closeCollapsed()">{{ 'navbar.items.danceStyles.others' | translate }}</a>
          </div>
        </div>
      </li>
      <!-- Classes -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/classes" routerLinkActive="active" (click)="closeCollapsed()">{{ 'navbar.items.classes' | translate }}</a>
      </li>
      <!-- Contacts -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts" routerLinkActive="active" (click)="closeCollapsed()">{{ 'navbar.items.contacts' | translate }}</a>
      </li>
      <!-- Change Language -->
      <li class="nav-item lang">
        <a class="nav-lang" (click)="setLanguage('en')">en</a>
        <p class="nav-lang-separator">|</p>
        <a class="nav-lang" (click)="setLanguage('fi')">fi</a>
      </li>
    </ul>
  </div>
</nav>