@media (max-width: 652px) {
  .navbar-expand-sm .navbar-toggler {
    display: initial;
  }
  .collapse:not(.show) {
    display: none !important;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex;
    position: absolute;
    top: 3.5rem;
    right: 0;
    box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.2);
    border-radius: 0.25rem;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 0rem;
  }
}
.adk-navbar {
  width: 100%;
  height: var(--adk-navbar-height);
  max-height: var(--adk-navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
}
.navbar-expand-sm .navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin-right: 0.1rem;
  margin-left: var(--logo-left-margin);
  margin-top: var(--logo-top-margin);
  padding: 0rem;
}
.logo {
  width: var(--logo-size);
}
.nav-item:last-of-type {
  padding-right: 10vw;
}
@media (min-width: 677px) and (min-height: 400px) {
  .collapse.show {
    box-shadow: none !important;
  }
}
@media (max-width: 767px), (max-height: 290px) {
  .navbar-brand {
    margin-left: var(--logo-mobile-left-margin);
    margin-top: var(--logo-mobile-top-margin);
  }
}
@media (max-width: 272px) {
  .adk-navbar {
    justify-content: flex-end !important;
  }
}
.navbar-toggler {
  position: absolute;
  right: 10px;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.collapse.show {
  box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.2);
}
.navbar-nav .nav-link, .navbar-nav .nav-lang {
  font-size: medium;
  font-weight: bold;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-lang:hover {
  font-size: medium;
  font-weight: bold;
  border-radius: 0.25rem;
}
.dropdown {
  cursor: default;
}
.nav-link {
  padding-right: 1rem;
}
.nav-item.lang {
  display: flex;
}
.nav-lang, .nav-lang-separator {
  display: block;
  padding: 0.5rem 0rem;
  text-decoration: none;
}
.nav-lang {
  cursor: pointer;
}
.dropdown-toggle::after {
  display:none;
}
.dropdown-menu {
  padding: 0;
  margin: 0;
}
.dropdown-menu {
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  min-width: 100%;
}
.dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.dropdown-menu .dropdown-item {
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: 500;
}
.nav-link.logout {
  cursor: pointer;
}
@media (hover: hover) {
  .navbar-nav .dropdown:hover .nav-link {
    font-size: medium;
    font-weight: bold;
    border-radius: 0.25rem;
  }
  .dropdown:hover> .dropdown-menu {
    display: block;
  }
  .dropdown-menu.show {
    display: none;
  }
  .dropdown-closed {
    display: none !important;
  }
}
