<div class="rightpane">
  <div class="social-media">
    <div class="whatsapp-group-block">
      <a href="{{ whatsappGroup }}" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp contact-icon" aria-hidden="true"></i>
      </a>
      <a href="{{ whatsappGroup }}" target="_blank" class="contact-item">
        <span class="contact-item">{{ 'rightPane.joinWhatsapp' | translate }}</span>
      </a>
    </div>
    <div class="facebook-block">
      <a href="{{ facebookPage }}" target="_blank">
        <i class="fab fa-facebook" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
